<h1>Demo#hello</h1>
<p>Find me in app/views/demo/hello.html.erb</p>

<% target = "naju"  %>
<% target += " kaium"  %>
<%= target +  " anika"  %>

<%   3.times do |n| %>
  <%= n %>
<% end %>

<br/>

<%= @array %>
<br/>

<%= @id%>
<br/>
<%= @page %>
