<h1 class="text-3xl font-bold text-center text-black mb-6">Edit Section</h1>

<div class="text-center mb-4">
  <%= link_to("<< back to List", sections_path, class: "text-blue-500 hover:underline") %>
</div>

<div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
  <%= form_with(model: @section, local: true) do |form| %>
    <% if @section.errors.any? %>
      <div id="error_explanation" class="mb-6 p-4 bg-red-100 border-l-4 border-red-500 text-red-700">
        <h2 class="font-semibold mb-2"><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>
        <ul class="list-disc list-inside">
          <% @section.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render(partial: 'form', locals: { form: form }) %>
    
    <div class="text-center mt-4">
      <%= form.submit("Update Section", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded") %>
    </div>
  <% end %>
</div>
