<h1 class="text-3xl font-bold text-center text-black mb-6">Edit Page</h1>

<div class="text-center mb-4">
  <%= link_to("<< back to List", pages_path, class: "text-blue-500 hover:underline") %>
</div>

<%= form_with(model: @page, local: true, class: "bg-white p-6 rounded-lg shadow-lg mx-auto max-w-lg") do |form| %>
  <% if @page.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
      <h2 class="font-bold"><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul class="list-disc list-inside">
        <% @page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render(:partial => 'form', :locals => { form: form }) %>

  <div class="flex justify-center mt-4">
    <%= form.submit("Save Changes", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded") %>
  </div>
<% end %>
