<% @page_title = "Update Subjects" %>


<h1>Subjects#edit</h1>

<%= link_to("<< back to List", subjects_path, :class => "back-link") %>


<%= form_with(model: @subject, local: true) do |form| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% @subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render(:partial => 'form', :locals => {:form => form}) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


